.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global Classes */

.centering {
  align-items: center;
  justify-content: center;
}

.centering > .row > .col > * {
  padding:5px;
}

.padded {
  padding:2%;
}

.padded > .row {
  padding: 2%;
}

.spacer {
  min-height:"30vh";
}

.syriac-heading {
  text-align: right;
  font-family: var(--syriac-font-family-normal);
}

syriac-text {
  font-size: x-large;
  font-family: var(--syriac-font-family-normal);
}

syriac-text:hover {
  background-color: aliceblue;
  font-weight: bold;
  font-family: var(--syriac-font-family-bold);
}

/* Widget Component Classes */

.navbar {
  background: aliceblue;
  border-bottom: 1px solid lightslategray;
}

.text-article {
  padding: 3%;
  text-align: left;
  justify-content: left;
  border: none;
}

/* Page Component Classes */

/* ToC.js*/

.icon {
  color:black;
}

/* TextReader.js */

.author {
  display:'flex';
  text-align:'left';
}

.filter-item > * {
  padding: 5px;
}

.pagination {
  justify-content: center;
}

.pagination > * {
  padding: 4px;
}

.reader-footer {
  background: aliceblue;
  border-top: 1px solid lightslategray;
  padding: 20px;
}

.syriac-word-in-line {
  display:'flex';
  text-align:'right';
  padding-right:"5%";
}

.text-container > * {
  padding-top: 1%;
  text-align:right;
}

/* Vocabulary.js  */

.answer-card {
  padding:2%;
}

.text-gnizo {
  color: lightslategray;
  background-color:aliceblue;
}


